* {
    box-sizing: border-box;
}

:root {
    --blue: #2C3E50;
    --soft-grey: #F0F5F2;
    --green: #198A59;
    --soft-green: #198a59dc;
    --gold: #D4AF37;
    --primary-color: rgb(40, 33, 131);


}



body {

    font-family: "Lexend", sans-serif;

}

main {
    margin: 0 10px 0 10px;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 1.5rem;
    color: var(--primary-color);
}

h2 {
    font-size: 1rem;
    color: var(--blue);
}

h3 {
    color: var(--primary-color);
    text-align: center;
}

/* ------ Header ----------------*/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px var(--blue);
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
    height: 40px;



}

header span {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: bolder;
}

/* ----------Hamburguer Navigation -----------*/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    color: var(--blue);

}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
    color: var(--blue);

}


/* ------ Navigation  ------------------ */

.navigation {
    display: none;
}



.navigation.show {
    display: block;
    border-color: var(--blue);
    padding: 5px;



}

.navigation ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0;
    margin: 0;




}

.navigation ul a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    padding: 0.8rem 10px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.719);
    font-weight: bold;



}

.navigation ul li a:hover {
    color: var(--green);

}




.navigation li.current {
    background-color: #00B16A;
}


/*---------------HERO SECTION ----------------------------------- */

.hero {
    width: 100%;
    height: 300px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;


}

.hero img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    position: relative;


}

.hero button {
    position: absolute;
    align-self: flex-end;
    margin: 10px;
    background-color: var(--green);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
    cursor: pointer;

}

.hero button:hover {
    color: var(--hover-color);
}


/*-------------WRAPPER SECTION --------------------*/

.wrapper h2 {
    background-color: var(--green);
    color: var(--soft-grey);
    text-indent: 20px;

}

.wrapper li {
    padding: 5px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 25px;
}

.wrapper .events ul {
    margin: 0 0 25px 0;
    padding-bottom: 10px;
}

.events,
.weather,
.forecast {

    background-color: var(--soft-grey);
}


#weather-icon {
    width: 50px;
    height: 50px;
}

.forecast,
.weather {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    line-height: 25px;

}

.weather h2,
.forecast h2 {
    margin-top: 0;
}

.weather-content {

    display: flex;
    flex-direction: column;



}

.weather-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.forecast-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;


}


/*------EVENTS -----------------*/
.events ul li p {
    color: rgba(0, 0, 0, 0.637);
}


/* ------FOOTER -------- */

.social-media {
    display: flex;
    justify-content: center;
    margin: 25px 24px;
    gap: 10px;
    padding: 25px;
}

footer {
    background-color: var(--soft-grey);
    padding-bottom: 25px;
    margin: 10px 10px;
    text-align: center;
}

footer h3 {
    color: var(--primary-color);
}

/* -----------------CARDS--------------------------------------------*/
.businesses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.directory-card {

    height: 350px;
    width: 300px;
    border: 1px solid var(--blue);
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(45deg, #198A59 0%, #21B36C 70%, #A5D6A7 100%);
    text-align: center;


}

.directory-card img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.directory-card h2 {
    border-bottom: 2px solid rgb(11, 36, 11);
}

.directory-card h2 {
    color: var(--soft-grey);
}

.membership-level {
    font-weight: bold;
    font-size: large;
    background-color: var(--soft-grey);
    text-transform: capitalize;
}

/*--------WEATHER SECTIONS -------------------------*/

#description {
    text-transform: capitalize;
}

/* ----------------GRID- LIST - MENU- SECTION  ----------------*/


.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--green);
    text-align: center;

    button {
        padding: 0.5rem 1rem;
        font-weight: 700;
        border-radius: 8px;
        width: 100px;
        background-color: var(--blue);
        color: white;
        font-size: bold;
    }
}

.list {
    display: flex;
    flex-direction: column;
    width: 800px;

    .businesses {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
        line-height: 15px;


        .directory-card {
            max-height: 130px;
            width: 420px;
            display: flex;
            flex-direction: row;
            border-radius: 0;
            padding: 5px;

        }

        .directory-card h2 {
            border-bottom: none;
            color: black;

        }


        &>* {
            margin: 0 1rem;
        }

        img {
            display: none;
        }

        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 0.8rem;

        }


        &:nth-child(even) {
            background-color: #bbb;
        }
    }
}

/* ------ FORM STYLING -----------------*/



form {
    border: 0.5px solid var(--primary-color);
    padding: 1rem;
    border-radius: 8px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    label {
        display: block;
        font-size: 1rem;
        color: var(--blue);
        padding-top: 0.2rem;



    }

    h3 {
        font-size: .9rem;
        color: #E07A5F;
        margin: 1.5rem 0 .2rem 0;
        border-bottom: 1px solid #eee;

    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .5rem;
        border: 1px solid #999;
        border-radius: 7px;
        border-left-width: 5px;
        border-left-color: var(--soft-green);
        font-size: 1rem;
        color: var(--blue);
        width: 300px;
    }

    input:required {
        border-right-color: var(--soft-green);
    }

    input:focus {
        border-right-color: var(--blue);
        outline: none;
    }

    input:required:valid {
        border-right-color: var(--green);
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--green);
        color: white;
        width: 180px;
        border-radius: 15px;
        padding: 0.8rem 1rem;
        margin: 2rem;
        font-size: 1rem;
        font-weight: bold;
        -webkit-appearance: none;
        appearance: none;
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--blue);
}

input[type=submit]:hover {
    color: var(--hover-color);
}



#results {
    background-color: var(--soft-gray);
    padding: 0 1rem;
    border: 1px solid var(--blue);
    border-radius: 8px;
}

.form-title {
    text-align: center;
}

form h3 {
    color: var(--primary-color);
}

input[value="Business/Organization's description"] {
    min-height: 50px;

}

input[value="Gold Membership"] {
    margin-bottom: 1.2rem;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------------MEMBERSHIP CARDS ------------------------------------*/

.membership-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    gap: 5px;
}

.membership-card {
    border: solid var(--primary-color);
    padding: 2rem;
    width: 100px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;



}

#np {

    color: white;
    background-color: var(--blue);
    font-size: bold;

}

#bronze {
    color: white;
    background-color: #CD7F32;
}

#silver {
    color: white;
    background-color: #C0C0C0;
}

#gold {
    color: white;
    background-color: var(--gold);
}