@media only screen and (min-width: 64rem) {


    /*------- MENU AND HEADER ------------- */

    .hamburger {
        display: none;
    }

    header,
    main,
    nav,
    footer {
        max-width: 90%;
        margin: 0 auto;
    }

    footer {
        margin-top: 20px;
    }

    header {

        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
        border-bottom: 0.2px solid rgba(29, 58, 37, 0.719);
        background-color: var(--soft-grey);
    }

    .navigation ul {

        display: flex;
        flex-direction: row;
        justify-content: space-around;




    }

    .navigation ul li a {
        border: none;

    }

    .hero img {
        object-fit: cover;
    }

    header span {
        font-size: 2rem;
    }

    /*----------DIRECTORY---------*/
    .businesses {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*---------FORM----------------- */

    form {
        padding: 2rem 5rem;

    }

    /*------MEMBERSHIP CARDS --------- */
    .membership-cards {
        justify-content: center;
        gap: 50px;
    }
}


/*-----MODAL DIALOG ----------------------*/


#np-membership-modal,
#bronze-membership-modal,
#silver-membership-modal,
#gold-membership-modal {
    max-width: 500px;
    border-radius: 8px;

}


/* --- DISCOVERY PAGE -------*/

.activity-cards-wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
}