/*------GENERAL STYLING------------------*/

:root {
    --violet-color: #8338ec;
    --pink-color: #ff006e;
    --blue-color: #3a86ff;
    --soft-blue-color: #3a85ff0e;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


body {

    font-family: "Arvo", sans-serif;

}

main {
    margin: 0 10px 0 10px;
}

/* ------ Header ----------------*/

header {
    display: grid;
    grid-template-columns: 60px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px grey;
    column-gap: 8px;
    align-items: end;


}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;

}

header span {
    font-size: 1.3rem;
    color: var(--blue-color);
}

h1,
header span {
    color: var(--blue-color);
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
}


h2,
h3 {
    color: var(--violet-color);
    font-family: "Bricolage Grotesque", sans-serif;
    text-align: center;
}

/* ----------Hamburguer Navigation -----------*/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
    font-size: 1.2rem;
    color: var(--blue-color);

}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.2rem;
    color: var(--violet-color);

}


/* ------ Navigation  ------------------ */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    border-color: solid 1px grey;
    padding: 5px;



}

.navigation ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0;
    margin: 0;




}

.navigation ul a {
    text-decoration: none;
    color: var(--violet-color);
    display: block;
    padding: 0.8rem 10px;
    border-bottom: solid 1px grey;
    font-weight: bold;



}

.navigation ul li a:hover {
    color: var(--blue-color);

}




.navigation li.current {
    background-color: var(--soft-blue-color);
}

/*------SLIDE --------------- */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--violet-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {

    color: var(--violet-color);
    background-color: whitesmoke;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    width: 97%;
    text-align: center;
    font-weight: bold;

}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--blue-color);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*-----SECTIONS --------*/
.section-title {
    border: 25px 0;
    padding: 25px 0;
}

/*-------COMPANY INFORMATION SECTION ------------*/
.company-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 25px;



}

.company-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--soft-blue-color);
    background-color: rgba(255, 192, 203, 0.082);

    padding: 5px;
    min-width: 300px;
    min-width: 200px;
}

dialog {
    color: var(--blue-color);
    border-radius: 5px;
    background-color: whitesmoke;

}

dialog button {
    height: 25px;
    width: 25px;
    color: var(--blue-color);
    border-color: var(--blue-color);
    border-radius: 2px;
}

dialog p {
    color: black;
}

/* -------PRODUCT CARDS ---------------*/
.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border-top: 25px;
}

.product-card {
    display: grid;
    grid-template-areas:
        "title"
        "category"
        "sizes"
        "photograph"
        "button"
    ;
    width: 140px;
    height: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column-gap: 0.3rem;


}

.product-card h4 {
    grid-area: category;
    color: var(--pink-color);
    text-transform: capitalize;
    font-size: 1rem;
}

.product-card h3 {
    grid-area: title;
    font-size: 1rem;
}

.product-card span {
    grid-area: sizes;
    color: var(--blue-color);

}

.product-card img {
    grid-area: photograph;
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;



}

.product-card button {
    grid-area: button;
    width: 100px;
    font-weight: bold;
    color: white;
    background: var(--blue-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 5px;
    margin: 0 auto;
    border: none;



}

.product-card button:hover {
    color: var(--violet-color);
}

/*- reducing space  betweetn elements inside of the grid- */
.product-card>* {
    margin: 0;
    padding: 0.2rem;

}

/*-------PAYMENT METHODS -----------------*/

.payment-methods,
.brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px 0;
}

.payment-card {
    width: 120px;
    height: 150px;
    box-shadow: 0 1px 4px 0 rgba(155, 15, 160, 0.267), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 192, 203, 0.082);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;

}

.payment-card>* {
    margin: 0;
    padding: 0.2rem;
}

.payment-card img {
    width: 70px;
    height: 70px;

}

.payment-card h3 {
    padding-top: 10px;

}


.brand-card {
    width: 150px;
    height: 170px;
    box-shadow: 0 1px 4px 0 rgba(155, 15, 160, 0.267), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 192, 203, 0.082);

}

.brand-card img {
    width: 80px;
    height: 90px;
    object-fit: fill;
}

.brand-card h3 {
    color: var(--blue-color);
}


/*--------FORM-----------------------*/

.description {
    text-align: justify;
    font-size: 1.2rem;
}

form {
    background-color: var(--soft-blue-color);
    margin: 1.5rem 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;

    label {
        margin-right: auto;
        /* to move this element to the left */

        font-size: 1rem;
        color: var(--blue-color);
        padding: .2rem 0;

    }

    h3 {


        margin: 1.5rem 0 .2rem 0;
        border-bottom: 1px solid #eee;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: #3D405B;
        width: 250px;
    }

    textarea[name=message] {

        width: 250px;
        border-radius: 4px;
        border: 1px solid #999;
        padding-top: 5px;
        margin-top: 5px;

    }




    input:required {
        border-left-color: var(--pink-color);
    }

    input:focus {
        border-left-color: var(--violet-color);
        outline: none;
    }

    input:required:valid {
        border-left-color: var(--violet-color)
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--blue-color);
        color: white;
        border-radius: 1rem;
        padding: .5rem 1.5rem;

        font-size: 1.2rem;
        font-weight: bold;
        -webkit-appearance: none;
        appearance: none;
        margin: 15px;
        cursor: pointer;
    }
}


input[type=submit]:hover {
    color: var(--violet-color);
}

input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

/*------- FOOTER ----------------*/

footer {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
    background-color: rgba(255, 192, 203, 0.082);
    padding: 35px 0;
}