  @media only screen and (min-width: 38rem) {
      .navigation ul {

          display: flex;
          flex-direction: row;
          justify-content: space-around;




      }

      header {

          grid-template-columns: 150px auto 150px;
      }

      .hamburger {
          display: none;
      }

      .navigation {
          display: block;
          border-bottom: 1px solid rgba(128, 128, 128, 0.719);


      }

      .navigation ul li a {
          border: none;

      }


      /*----SLIDE  ----- */
      .slideshow-container {
          max-width: 97%;




      }

      .text {
          padding: 20px;
          font-size: larger;


      }

      /*-----COMPANY INFO BOXES  -----*/

      .company-info {
          flex-direction: row;
          margin-top: 20px;

      }

      .company-box {

          margin: 0 auto;
          padding: 20px;
          cursor: pointer;

      }

      .company-box:hover {
          transform: scale(1.08);



      }





  }