@media only screen and (min-width: 38rem) {

    /*----PRODUCT SECTION ---*/
    .product-card {
        display: grid;
        grid-template-areas:
            "photograph title"
            "photograph category"
            "photograph sizes"
            "photograph button"

        ;
        width: 250px;
        height: 180px;





    }

    .product-card img {

        width: 100px;
        height: 150px;
        margin: 10px;



    }

    /*----PAYMENT METHODS ---*/

    .payment-methods {

        justify-content: space-around;

    }

    .payment-card {
        width: 180px;
        height: 200px;
    }

    .payment-card img {
        width: 100px;
        height: 100px;

    }

    /*--------FORM-------------*/

    .form-group {
        display: flex;
        flex-direction: column;

    }


    form {
        justify-content: center;
        align-items: center;
    }

}