@media only screen and (min-width: 38rem) {
    .product-card {
        display: grid;
        grid-template-areas:
            "photograph title"
            "photograph category"
            "photograph sizes"
            "photograph button"

        ;
        width: 250px;
        height: 180px;





    }

    .product-card img {

        width: 100px;
        height: 150px;
        margin: 10px;



    }


}