* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(46, 40, 46);
    --secondary-color: rgb(85, 49, 85);
    --green: rgb(47, 143, 119);
    --soft-green: rgba(47, 143, 119, 0.438);
}

body {

    font-family: "Lexend", sans-serif;

}

main {
    margin: 0 10px 0 10px;
}

/* ------ Header ----------------*/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px rgb(128, 128, 128);
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;

}

header span {
    font-size: 1.3rem;
    color: var(--primary-color);
}

/* ----------Hamburguer Navigation -----------*/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.2rem;
    color: var(--primary-color);

}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.2rem;
    color: var(--primary-color);

}


/* ------ Navigation  ------------------ */

.navigation {
    display: none;
}



.navigation.show {
    display: block;
    border-color: solid 1px var(--secondary-color);
    padding: 5px;



}

.navigation ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0;
    margin: 0;




}

.navigation ul a {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    padding: 0.8rem 10px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.719);



}

.navigation ul li a:hover {
    color: rgba(85, 49, 85, 0.411);
}




.navigation li.current {
    background-color: rgba(128, 128, 128, 0.411);
}

h1 {

    color: var(--secondary-color);
    font-size: 1.8rem;

}


/*----- Social media -------*/

footer {
    padding: 1rem 10px;
    background-color: var(--soft-green);

    margin: 20px 10px 0 10px;

}

footer p {
    text-align: center;
    font-size: small;
}

.social-media {

    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.social-media img {
    width: 25px;
    height: 25px;
}



/*----------- Course Buttons ---------------*/

.course-container {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.course-container .completed {

    background-color: var(--soft-green);
}

.course-container .not-completed {

    background-color: var(--secondary-color);

}

.web-courses {

    width: 100%;
}




/*------------Personal Information-------------------- */


.personal-info {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.student-pic img {

    width: 100px;
    height: auto;
    border-radius: 40%;

}

.about-me {

    width: 100%;

}





.about-me h2,
.student-pic h2,
.web-courses h2 {
    width: 100%;
    background-color: var(--green);
    color: white;


}

.about-me p {
    margin-top: 0;
    background: rgba(126, 56, 126, 0.199);
    padding: 5px 0 5px 10px;
}

.student-pic {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 10px;

    width: 100%;
    align-items: center;



}


.student-pic #image-wrapper {

    width: 200px;
    height: 180px;
    background-color: rgba(126, 56, 126, 0.199);
    margin: 0 auto;
    padding: 10px;

}


.content-box {

    background: rgba(126, 56, 126, 0.199);
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;


}