@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    footer {
        margin-top: 20px;
    }

    header {

        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid rgba(128, 128, 128, 0.719);

    }

    .navigation ul li a {
        border: none;

    }


    .navigation ul {

        display: flex;
        flex-direction: row;
        justify-content: space-around;




    }

    .personal-info {
        flex-direction: row;
        gap: 10px;
        border-bottom: 20px;

    }

    .about-me p,
    .student-pic .content-box {
        height: 80%;
    }

    .web-courses {
        border-top: 20px;
    }

    .click-btns {
        border-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #all,
    #cse,
    #wdd {


        width: 200px;

    }

    .course-container button {
        padding: 10px;
    }

}