* {
    box-sizing: border-box;
}

h1, h2{
    color: rgb(26, 26, 124);
    text-align: center;
}


#cards {
    display: grid;
	column-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 30px;
}

.prophet-card {

 background-color: rgba(82, 82, 231, 0.288);
 width: 300px;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 10px;
 margin: 10px;
 border: 1px solid rgb(4, 4, 94);
}

.prophet-card img{
    width: 150px;
    height: 200px;
    margin: 0 auto;
    border-radius: 2px;
}

.prophet-card p{
    text-align: center;
    margin: 5px 10px;
}

footer{
    text-align: center;
}
